---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SectionComponent from "../../components/BlogPageSection.astro";

import {
  getBlogPageNames,
  getBlogSectionsForPage,
} from "../../scripts/select_pics.ts";
import { getBlogPageIcon } from "../../scripts/get_icon";

// Make a page for every album in digikam with category "Blog"
export async function getStaticPaths() {
  const blogAlbums = await getBlogPageNames();

  return blogAlbums.map((album) => {
    return {
      params: { page: album.toLowerCase() },
      props: { title: album },
    };
  });
}

const { title: pageTitle } = Astro.props;

const icon = getBlogPageIcon(pageTitle);

const sections = await getBlogSectionsForPage(pageTitle);
---

<style>
  h1 {
    border-bottom: 2px solid black;
    /* font-family: 'DotMatrix'; */
  }
  #back {
    float: right;
  }
</style>

<BaseLayout icon={icon} title={pageTitle}>
  <h1>{pageTitle}</h1>
  <a href="/photoblog" id="back" class="redlink">&lt;- zurück</a>
  {
    sections.map((section) => (
      <SectionComponent page={pageTitle} section={section.name} />
    ))
  }
</BaseLayout>
