---
import "dotenv/config";
import { drizzle } from "drizzle-orm/libsql";
import { like } from "drizzle-orm";
import { albums } from "../../db/digikam.ts";

import ImageScrollGallery from "./ImageScrollGallery.astro";

import { selectPics } from "../scripts/select_pics.ts";

const { page, section } = Astro.props;

const db = drizzle(process.env.DB_FILE_NAME!);

const entries = await db
    .select()
    .from(albums)
    .where(like(albums.relativePath, `/${page}/${section}%`));

let displaySection = false;
let entryPics: { [key: string]: any } = {};
for (const entry of entries) {
    entryPics[entry.relativePath] = await selectPics([entry.id], 3);
    if (entryPics[entry.relativePath].length > 0) {
        displaySection = true;
    }
}
---

<style>
    h2 {
        margin-top: 3em;
        font-family: "DotMatrix";
    }
</style>

{
    displaySection && (
        <>
            <h2>{section}</h2>
            {entries
                .filter((entry) => entryPics[entry.relativePath].length > 0)
                .map((entry) => (
                    <>
                        {entry.caption && <h3>{entry.caption}</h3>}
                        {entry.date && (
                            <p>
                                <em>
                                    Datum:{" "}
                                    {new Date(entry.date).toLocaleDateString()}
                                </em>
                            </p>
                        )}
                        <ImageScrollGallery
                            images={entryPics[entry.relativePath]}
                        />
                    </>
                ))}
        </>
    )
}
